header
    position: relative
    height: 50px

nav
    position: fixed
    width: 100%
    height: 50px
    background-color: #212121
    z-index: 10

.hamburger
	display: none

.menu
	display: flex
	justify-content: space-between
	padding: 15px 70px
	margin: 0
	list-style: none

	&_link
		color: #ffffff
		font-size: 15px
		font-weight: 400
		text-decoration: none

	&_item
		&::after
			content: ""
			border-right: 2px dotted #000
			padding-right: 28px

	&:last-child:after
		border: none

.subheader
	position: absolute
	top: 50px
	width: 100%
	height: 84px
	background-color: rgba(0, 0, 0, 0.6)

	&_logo
		display: block
		margin-top: 20px



	&_oficial
		margin-top: 2px
		color: #ffffff
		font-size: 13px
		font-weight: 100
		text-align: left
		opacity: 0.5

	&_call
		margin-top: 19px
		height: 11px
		color: #ffffff
		font-size: 12px
		font-weight: 300
		text-align: right
		
	

	&_tel
		display: block
		margin-top: 8px
		text-align: right
		color: #ffffff
		font-size: 22px
		font-weight: 400
		text-transform: uppercase
		text-decoration: none
	

	&_button
		margin: 19px 0
		width: 100%
		height: 46px
		box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
		border: 1px solid rgba(0, 0, 0, 0.07)
		background: $col_bl
		border-radius: 3px

	
	

	&_button_link
		display: block
		color: #ffffff
		font-size: 14px
		font-weight: 400
		text-align: center
		text-transform: uppercase
		text-decoration: none
		margin-top: 13px

.promo
	width: 100%
	padding: 151px 0 135px
	min-height: 800px
	background: url(../img/uber_bg.png) center (center / cover) no-repeat

	&_title
		color: #ffffff
		font-weight: 700
		text-align: center
		text-transform: uppercase
		font-size: 60px
		line-height: 50px
		

	&_subtitle
		display: block
		margin: 20px 0 0 0
		color: #ffffff
		font-weight: 700
		text-align: center
		text-transform: uppercase
		font-size: 36px
		line-height: 30px

	&_descr
		margin-top: 23px
		color: #ffffff
		font-size: 18px
		font-weight: 400
		line-height: 24px
		text-align: center

	&_btn
		display: block
		margin: 118px auto 0
		width: 255px
		height: 63px
		border-radius: 4px
		box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.12)
		border: 1px solid rgba(0, 0, 0, 0.07)
		background: linear-gradient(to top, $col_bl 0%, #4ce2ff 100%)
		font-size: 18px
		font-weight: 400
		text-align: center
		text-transform: uppercase
		color: #ffffff
		transition: 0.5s
		+btn_hover 

.benefits
	padding: 71px 0 65px 0
	
	&_list
		display: flex
	&_img
		margin-left: 35px
		display: flex
		width: 113px
		height: 113px
		background-color: $col_bl
		border-radius: 50%
		justify-content: center
		align-items: center

	&_txt
		width: 341px
		margin-left: 26px
		color: #202020
		font-size: 15px
		font-weight: 400
		line-height: 21px
		

	&_descr
		color: $col_bl
		font-weight: 400
		font-size: 17px
		


.label
	@include label_black
	
.benefits .subtitle
	display: block
	margin: 38px 0 0 0
	font-weight: 700
	text-align: center
	text-transform: uppercase
	font-size: 36px
	line-height: 30px
	color: #222222
	

.col-md-6
	margin-top: 40px
	



.mobile
	padding: 48px 0 80px 0
	min-height: 864px
	background: url(../img/bg_mobile.png) center center/cover no-repeat
	
	

.subtitle
	display: block
	margin: 38px auto 0 
	font-weight: 700
	text-align: center
	text-transform: uppercase
	font-size: 36px
	line-height: 30px
	color: #222222

.subtitle_but
	margin-top: 19px
	color: #222222
	font-size: 17px
	font-weight: 400
	text-align: center

.mobile_item
	position: relative
	margin: 20px auto
	background: url('../img/1.png') 
	width: 320px
	height: 280px
	transition: 0.5s
	
	.mobile_item_subtitle
		color: #ffffff
		font-size: 24px
		font-weight: 400
		text-transform: uppercase
		padding: 91px 0 0 0 
		text-align: center
		bottom: 40px
	
	.mobile_item_plus
		position: absolute
		transform: translateX(-50%)
		background: #000
		width: 26px
		height: 26px
		border-radius: 100%
		bottom: 35px
		left: 50%
		cursor: pointer
		transition: 0.5s
		&::after
			content: ''
			display: block
			width: 2px
			height: 14px
			background: $col_bl
			position: absolute
			left: 50%
			top: 25%
			transform: translateX(-50%)
		&::before
			content: ''
			display: block
			width: 14px
			height: 2px
			background: $col_bl
			position: absolute
			top: 52%
			left: 24%
			transform: translateY(-55%)
		&:hover
			&::before, &::after
				background: red
					
		

.auto
	min-height: 896px
	padding: 57px 0 138px 0
	background: url('../img/bl.png') 100% 499px no-repeat
	background-position: top
	
	&_label
		@include label_white

	&_subtitle
		display: block
		margin: 38px auto 0 
		font-weight: 700
		text-align: center
		text-transform: uppercase
		font-size: 36px
		line-height: 30px
		color: #fff
	.auto_subtitle_but
		margin-top: 19px
		color: #fff
		font-size: 17px
		font-weight: 400
		text-align: center
	img
		display: block
		margin: 56px auto 0
		width: 870px

	&_descr
		color: #222222
		font-size: 17px
		font-weight: 300
		line-height: 24px
		text-align: center
    

.require
	padding: 58px 0 74px 0
	

	&_block 
		

	&_subtitle
		display: block
		margin: 38px auto 0 
		font-weight: 700
		text-align: center
		text-transform: uppercase
		font-size: 36px
		line-height: 30px
		color: #000

	&_title , &_txt
		color: $col_bl
		font-size: 22px
		font-weight: 400
		text-align: left
	&_list
		list-style-type: none
		padding-left: 50px
		margin-top: 22px

		li 
			position: relative
			color: #222222
			font-size: 17px
			font-weight: 400
			margin-bottom: 12px
			
			

		& li::before					
			content: ""
			display: block
			position: absolute
			left: -31px
			top: 0
			width: 21px
			height: 20px
			background: url('../icons/check_blue 4.png') no-repeat
		& li:hover::before
			transform: scale(1.2)
			transition: 0.1s 
	.warning
		.require_title
			color: red	
			margin-top: 
		
		.require_list
			li
				&::before
					background: url('../icons/check_red 1.png') no-repeat
.world 
	position: relative
	min-height: 717px
	padding: 49px 0
	background: url('../img/world_bg.png') center (center / cover) no-repeat
	.label_white 
		background: #fff
		color: #000
	&_subheader
		display: block
		margin: 38px auto 0 
		font-weight: 700
		text-align: center
		text-transform: uppercase
		font-size: 36px
		line-height: 30px
		color: #fff
	&_subheader_but
		margin-top: 19px
		color: #fff
		font-size: 17px
		font-weight: 400
		text-align: center

	&_link 
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: 49px
		text-align: center
		font-size: 15px
		font-weight: 400
		line-height: 68px
		text-transform: uppercase
		color: #1fbad6
		&:hover 
			text-decoration: none
			color: #fff
footer 
	padding: 14px 23px 39px 23px
	a 
		&:hover 
			text-decoration: none
.footer
	&_divider
		width: 299px
		height: 4px
		background-color: #1fbad6
		margin: 0 auto
	&_wrapper
		display: flex 
		justify-content: space-between
		align-items: flex-start
		padding-top: 32px
	&_wrapper > div 
		width: 33%
		&:nth-child(3)
			display: flex 
			justify-content: flex-end
	&_social
		width: 160px
		display: flex
		justify-content: space-between
		&_item 
			display: flex 
			justify-content: center
			align-items: center
			margin: 0 4px 
			width: 32px
			height: 32px
			background-color: #070716
			border-radius: 100%
			i 
				color: #fff
	&_links
		width: 390px
		margin: 0 auto
		&_main 
			display: flex 
			justify-content: space-between
			padding: 0 10px
			a 
				color: #070716
				font-size: 15px
				font-weight: 300
				text-transform: uppercase
		&_sub 
			display: flex 
			justify-content: space-between
			margin-top: 10px
			a 
				color: #999999
				font-size: 11px
				font-weight: 300
				text-transform: uppercase
		&_lang 
			display: block 
			margin: 0 auto
			color: #1fbad6
			font-size: 11px
			font-weight: 400
			margin-top: 19px
			text-transform: uppercase
			text-align: center

.xs_visible
        display: none
